# File Compressions

In [17]:
import pandas as pd

In [3]:
aqidf = pd.read_csv('../pipeline/data/AQI_Data_2024_2025.csv')

In [10]:
aqidf.sample(10)

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,date
13715335,3409366,12237404,"Urja Nagar, Korba - CECB-3379787",2025-03-12 17:15:00+05:30,22.348441,82.549611,relativehumidity,%,-0.33,2025-03-12
8722662,227387,12236613,"Motilal Nehru NIT, Prayagraj - UPPCB-3379695",2025-03-06 05:45:00+05:30,25.494000,81.863000,relativehumidity,%,65.36,2025-03-06
18210937,3409481,12238363,"Khaira, Boisar - MPCB-3379897",2025-02-26 15:30:00+05:30,19.786089,72.757971,no2,ppb,22.26,2025-02-26
1066775,5588,12234831,"RIICO Ind. Area III, Bhiwadi - RSPCB-3379486",2025-03-10 13:15:00+05:30,28.194909,76.862296,pm10,µg/m³,103.91,2025-03-10
18987553,3409502,12243025,"Kalidaspur, Balasore - OSPCB-3385117",2025-04-04 13:30:00+05:30,21.511610,86.890880,pm10,µg/m³,91.00,2025-04-04
1871971,5624,12235504,"IDA Pashamylaram, Hyderabad - TSPCB-3379563",2025-04-18 19:30:00+05:30,17.531689,78.218939,pm10,µg/m³,56.00,2025-04-18
7019077,10895,12236002,"Lumpyngngad, Shillong - Meghalaya PCB-3379623",2025-03-30 01:15:00+05:30,25.558600,91.898500,pm10,µg/m³,70.00,2025-03-30
19612454,3409515,12238610,"Govindh Bhavan Colony, Jabalpur - MPPCB-3379925",2025-03-20 22:45:00+05:30,23.163174,79.973061,o3,µg/m³,51.70,2025-03-20
12455752,3409321,12235596,Haldia - WBSPCB-3379574,2025-04-23 02:00:00+05:30,22.060470,88.109737,co,ppb,0.47,2025-04-23
8365940,45008,12236282,"Anthoni Pillai Nagar, Gummidipoondi - TNPCB-33...",2025-02-26 01:30:00+05:30,13.412700,80.108100,relativehumidity,%,87.00,2025-02-26

In [11]:
combined_df = aqidf

**Compressing The File**

In [8]:
combined_df['date'] = combined_df['datetime'].dt.date; new_df = combined_df.groupby(['date', 'location_id', 'sensors_id', 'location', 'lat', 'lon', 'parameter', 'units'])['value'].mean().reset_index()

**Transforming 20 Million Rows in 273K Files**

In [9]:
new_df.to_csv('Compressed_AQI.csv',index=False)

In [14]:
new_df = pd.read_csv(r'C:\Users\soubh\Downloads\OOPS\Tableau Dashboard\Invisible Dashboard\pipeline\data\Compressed_AQI.csv')

In [15]:
new_df.head(10)

,date,location_id,sensors_id,location,lat,lon,parameter,units,value
0,2024-01-01,8039,23320,Mumbai-8039,19.07283,72.882610,pm25,µg/m³,105.409091
1,2024-01-01,8118,23534,New Delhi-8118,28.63576,77.224450,pm25,µg/m³,213.727273
2,2024-01-01,8172,5077640,Kolkata-931703,22.56263,88.363040,pm25,µg/m³,176.863636
3,2024-01-01,8557,24857,Hyderabad-8557,17.38405,78.456360,pm25,µg/m³,94.636364
4,2024-01-01,8558,5077812,Chennai-931708,13.08784,80.278475,pm25,µg/m³,93.090909
5,2024-01-01,3174188,11056907,Malav-3144131,22.70763,75.852570,pressure,hpa,1002.989267
6,2024-01-01,3174188,11056908,Malav-3144131,22.70763,75.852570,temperature,c,24.193370
7,2024-01-01,3174188,11056910,Malav-3144131,22.70763,75.852570,wind_speed,m/s,1.029891
8,2024-01-01,3174188,11056920,Malav-3144131,22.70763,75.852570,wind_direction,deg,127.288350
9,2024-01-01,3174188,11056921,Malav-3144133,22.70763,75.852570,pm25,µg/m³,0.112435

In [19]:
location_info = pd.read_csv(r'C:\Users\soubh\Downloads\OOPS\Tableau Dashboard\Invisible Dashboard\pipeline\data\locations_info.csv')

In [23]:
location_info = location_info.drop(columns=['location_name'],axis=1)

In [24]:
location_info

,location_id,country_name,provider_name,owner_name,is_mobile,is_monitor,instrument_name
0,12,India,Spartan,Unknown Governmental Organization,False,True,Government Monitor
1,13,India,CPCB,Unknown Governmental Organization,False,True,Government Monitor
2,15,India,CPCB,Unknown Governmental Organization,False,True,Government Monitor
3,16,India,CPCB,Unknown Governmental Organization,False,True,Government Monitor
4,17,India,CPCB,Delhi Pollution Control Committee,False,True,Government Monitor
...,...,...,...,...,...,...,...
659,3409526,India,CPCB,Indian Institute of Tropical Meteorology,False,True,Government Monitor
660,3409527,India,CPCB,Tamil Nadu Pollution Control Board,False,True,Government Monitor
661,3409528,India,CPCB,Indian Institute of Tropical Meteorology,False,True,Government Monitor
662,3409529,India,CPCB,West Bengal Pollution Control Board,False,True,Government Monitor
663,3409530,India,CPCB,West Bengal Pollution Control Board,False,True,Government Monitor

**Combining The Location Info and Compressed_AQI**

In [27]:
com = pd.merge(new_df,location_info,on='location_id',how="inner")

In [31]:
com.to_csv('Compressed_AQI_Location_Info.csv',index=False)